.truck {
    &-header {
        align-items: center;
        color: black;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &-typeFilter {
        min-width: 200px;
    }

    &-search {
        margin-right: 0;
    }
}
  